* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* Typography Styles */

.title {
  font-size: clamp(50px, 2vw, 100px);
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}

/* Layout Styles */
.authPage,
.page {
  box-sizing: border-box;
  /* height: calc(100vh - 110px); */
}

@media (min-width: 770px) {
  .nav {
    height: 80px;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  .logo-btn {
    display: inline-block;
    background-color: yellow;
  }
}

@media (max-width: 769px) {
  /* Navbar Styles */
  .nav {
    height: 80px;
    width: 100%;
    position: fixed;
  }
  .logo-btn {
    display: none;
  }

  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
  .menu-btn {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
  }

  .menu {
    cursor: pointer;
    background-color: #348feb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .navbar,
  .navbar-hide {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    text-align: center;
    background-color: #348feb;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    transition: all 5000ms ease-in;
  }
  .navbar-hide {
    left: -500px;
  }
  .navbar li {
    width: 200px;
    height: 50px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 100ms ease-in;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .navbar li:hover {
    transform: scale(1.05);
    background-color: gray;
  }
  .navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 1rem;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Footer Styles */
.footer {
  box-shadow: black 0px 5px 15px;
  height: 40px;
  padding: 5px 10px;
  font-size: clamp(20px, 1vw, 50px);
}

/* Form Styles */
form,
.addProductForm {
  background-color: #348feb;
  width: clamp(400px, 40vw, 500px);
  padding: 20px;
  margin: 50px auto 5px auto;
  border-radius: 0.75rem;
}

input {
  display: inline-block;
  width: clamp(300px, 30vw, 400px);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

label {
  font-size: clamp(20px, 1vw, 50px);
  display: inline-block;
  color: white;
}

button {
  background-color: azure;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid black;
}

/* Product List Styles */
.products-list {
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}

.products-list ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #348feb;
  text-align: center;
  width: 200px;
}

.productDel {
  background-color: #348feb;
  color: white;
  margin: 0;
  padding: 0 10px;
}

/* Navigation Styles - Mobile */
@media (max-width: 821px) {
  /* Product List Styles - Mobile */
  .products-list-lg {
    display: none;
  }

  .products-list-md {
    margin: 0 auto;
  }

  /* Product Cell Styles - Mobile */
  .productCell {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .productCell .tableHead {
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 0;
    border-right: solid 1px black;
  }

  .productCell .tableData {
    width: 250px;
    text-align: start;
    padding: 5px 10px;
  }

  /* Product Data Styles - Mobile */
  .productData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin: 0 auto;
    width: 350px;
    border-radius: 0.75rem;
  }
}
