* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo{
  display: inline-block;
  /* border: 1px solid black; */
  font-size: clamp(20px, 1vw, 50px);
}

.logo:hover{
  cursor: pointer;
}

.title{
  font-size: clamp(50px, 2vw, 100px);
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}

.authPage{
  height: calc(100vh - 110px);
  box-sizing: border-box;
/* border: solid 1px black; */
}

.page{
  height: calc(100vh - 110px);
  box-sizing: border-box;
/* border: solid 1px black; */
  
}

.nav{
  height: 75px;
}

.nav-ul li {
  display: inline-block;
  margin: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 100ms ease-in;
}
.nav-ul li:hover {
  transform: scale(1.2);
  background-color: aquamarine;
}
.nav-ul li a {
  text-decoration: none;
  font-size: clamp(20px, 1vw, 50px);
}
.footer {
  box-shadow: black 0px 5px 15px;
  height: 40px;
  padding: 5px 10px;
  font-size: clamp(20px, 1vw, 50px);
}
form {
  background-color: #348feb;
  width: clamp(400px, 40vw, 500px);
  padding: 20px;
  margin: 50px auto;
  border-radius: 0.75rem;
}
input{
  display: inline-block;
  width: clamp(300px, 30vw, 400px);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

label{
  font-size: clamp(20px, 1vw, 50px);
  display: inline-block;
  color: white;
}
.addProductForm{
  background-color: #348feb;
  width: clamp(500px, 50vw, 600px);
  padding: 20px;
  margin: 5px auto;
  border-radius: 0.75rem;
}

button{
  background-color: azure;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid black;
}
.products-list{
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}
.products-list ul li{
  display: inline-block;
  padding: 5px;
  border: 1px solid #348feb;
  text-align: center;
  width: 200px
}
